<!-- SIDE FORM -->
<div class="row">
  <div class="col-sm-2">
    <label class="bg-primary" style="color: white;"
      >Which Type of car are you looking for?</label
    >
    <form>
      <div class="form-group">
        <label for="exampleFormBudget">Budget in Euro</label>
        <input
          name="budget"
          type="number"
          [(ngModel)]="budget"
          class="form-control"
          id="inputBudget"
          value="3000"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputFahrleistung"> Mileage per year in KM</label>
        <input
          name="km"
          type="number"
          [(ngModel)]="km"
          min="0"
          max="100000"
          class="form-control"
          value="15000"
          id="inputFahrleistung"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputNutzung">Planned usage in years</label>
        <input
          name="years"
          type="number"
          [(ngModel)]="years"
          min="1"
          max="10"
          class="form-control"
          id="inputNutzung"
          value="3"
          aria-describedby="emailHelp"
        />
      </div>
      <button
        type="button"
        (click)="search()"
        class="btn btn-success btn-lg btn-block"
      >
        Search
      </button>
    </form>
  </div>
  <!-- Result Content-->
  <div class="col-sm-10">
    <div class="border border-secondary" *ngFor="let car of cars">
      <div *ngIf="car != null">
        <button style="float: left;" type="button" class="btn btn-primary">
          {{ car.calculation.score  }}
          <span class="badge badge-light"
            >{{ car.calculation.scoreNumber | number:'3.0-2' }}%</span
          >
        </button>
        <h4>
          {{ car.details.vehicle.classification.make.formatted }}
          {{ car.details.vehicle.classification.model.formatted }}
        </h4>

        <hr />

        <div class="row">
          <carousel class="col-sm-4 h-25 w-50 d-inline-block">
            <slide *ngFor="let image of car.details.media.images">
              <img class="rounded" src="{{ image.formats.jpg.size800x600 }}" />
            </slide>
          </carousel>
          <div class="col-sm-4 border border-primary">
            <h5>
              Acquisition Cost
            </h5>
            {{ car.calculation.anschaffungskosten }} €

            <h5>
              Variable Costs according to usage (KM and years)
            </h5>
            <ul>
              <li>Use Costs: {{ car.calculation.verbrauchskosten }} €</li>
              <li>
                Insurance Costs: {{ car.calculation.versicherungskosten }} €
              </li>
              <li>Tax costs: {{ car.calculation.steuerkosten }} €</li>
              <li>Repair costs: {{ car.calculation.reparaturkosten }} €</li>
            </ul>
          </div>
          <div class="col-sm-4 border border-primary">
            <h5>
              Total costs per year
            </h5>
            <ul>
              <li>1st Year: {{ car.calculation.costsForFirstYear }} €</li>
              <li>2nd Year: {{ car.calculation.costsFor2ndYear }} €</li>
              <li>3rd Year: {{ car.calculation.costsFor3rdYear }} €</li>
              <li>4th Year: {{ car.calculation.costsFor4thYear }} €</li>
              <li>5th Year: {{ car.calculation.costsFor5thYear }} €</li>
            </ul>
            <h5>Costs for your specified years</h5>
            <h5>{{ car.calculation.costsForYears }} €</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
